[submodule "jk"]
	path = jk
	url = https://github.com/Ishwarya27/jk
[submodule "dog"]
	path = dog
	url = https://github.com/Ishwarya27/dog
[submodule "lion"]
	path = lion
	url = https://github.com/Ishwarya27/lion
[submodule "bird"]
	path = bird
	url = https://github.com/Ishwarya27/bird
